body {
    background-color: rgb(77, 8, 8);
    background-image: url(images/image1.jpg);
}

#grid-container {
    display: grid;
    margin: 5%;
    background-color: rgb(212, 181, 238);
    border-radius: 50px;
    padding: auto;
    height: 350px;
}